@model List<City>

@{

	ViewData["Title"] = "Home Page";
}

<head>
	<link rel="stylesheet" href="~/css/style.css?v=1" />
</head>

<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel" data-bs-interval="3000" style="height: 90vh;">
	<div class="carousel-inner" style="height: 100%;">
		<!-- Cities Header -->
		@foreach(var i in Model){
			<div class="carousel-item active" style="height: 100%; position: relative;">
				<img src="@i.ImageUrl" class="d-block w-100 h-100 object-fit-cover" alt="AlUla">
				<div class="position-absolute top-50 start-50 translate-middle text-white text-center">
					<h1 class="fw-bold display-1">@i.Title</h1>
					<p class="fs-4">@i.Description</p>
				</div>
			</div>
		}
	</div>
</div>



<section class="small-screen pattern m-auto d-flex align-items-center justify-content-center">
	<div class="row container-fluid p-4 d-flex">

		<!-- Images Section -->
	   <div class="col-lg-4">
	<h1 class="text-center fs-3 fw-bold">Our Events</h1>
	<div class="row justify-content-center">
		<!-- Left Column -->
		<div class="col-12 col-sm-5 d-flex flex-column align-items-center">
			<div class="p-3 position-relative">
				<h3 class="position-absolute top-50 start-50 translate-middle text-white fw-bold fs-5">History</h3>
				<img 
					class="img-fluid rounded image" 
					src="~/images/AlUla.jpg" 
					alt="AlUla Image 1" 
					style="width: 200px; height: 250px;" 
				/>
			</div>
			<div class="p-3 position-relative">
				<h3 class="position-absolute top-50 start-50 translate-middle text-white fw-bold fs-5">Adventures</h3>
				<img 
					class="img-fluid rounded image blurry" 
					src="~/images/abha.jpg" 
					alt="AlUla Image 2" 
					style="width: 200px; height: 250px;" 
				/>
			</div>
		</div>

		<!-- Right Column -->
		<div class="col-12 col-sm-5 d-flex flex-column align-items-center">
			<div class="p-3 position-relative">
				<h3 class="position-absolute top-50 start-50 translate-middle text-white fw-bold fs-5">Shopping</h3>
				<img 
					class="img-fluid rounded image blurry" 
					src="~/images/jeddah.jpg" 
					alt="AlUla Image 3" 
					style="width: 200px; height: 250px;" 
				/>
			</div>
			<div class="p-3 position-relative">
				<h3 class="position-absolute top-50 start-50 translate-middle text-white fw-bold fs-5">Contests</h3>
				<img 
					class="img-fluid rounded image blurry" 
					src="https://img.btolat.com/2023/1/19/news/306673/large.jpg" 
					alt="AlUla Image 4" 
					style="width: 200px; height: 250px;" 
				/>
			</div>
		</div>
	</div>
</div>




		<!-- Logos Section -->
  <div class="col-12 col-lg-2">
	<div class="row g-5 p-3">
	<div class="col-3 col-lg-12">
		<img class="img-fluid rounded" width="80" height="80" src="https://www.svgrepo.com/show/450470/nature.svg" alt="Logo 1" />
	</div>
	<div class="col-3 col-lg-12">
		<img class="img-fluid rounded" width="80" height="80" src="https://www.svgrepo.com/show/421384/culture-festival-global.svg" alt="Logo 2" />
	</div>
	<div class="col-3 col-lg-12">
					<img class="img-fluid rounded" width="80" height="80" src="https://www.svgrepo.com/show/522664/shopping-cart.svg" alt="Logo 3" />
	</div>
	<div class="col-3 col-lg-12">
		<img class="img-fluid rounded" width="80" height="80" src="https://www.svgrepo.com/show/490734/food-dinner.svg" alt="Logo 4" />
	</div>
</div>

</div>



		<!-- About Us Section -->
		<div class="col-lg-6 bg-white">
			<div class="row text-center p-4">
				<div class="col">
					<h1 class="fs-1 fw-bold text-center">About Us</h1>
					<p class="text-start fs-5"  style="line-height: 1.5;">
						At Explorer KSA, we make travel simple, exciting, and unforgettable. Whether you’re exploring historical landmarks, relaxing on stunning beaches, or seeking adventure, we’re here to guide you.

						With tailored packages, expert support, and a focus on responsible tourism, we ensure every journey is seamless and enriching. Let’s create memories together!
					</p>
				</div>
			</div>
		</div>

	</div>
</section>
<section class="small-screen contact d-flex align-items-center justify-content-around" id="cities">
	<div class="container">
		<h1 class="p-5 text-center fs-1 fw-bold mb-5" style="font-size:50px">Where to go?</h1>
		<div class="row g-4">
			@foreach (var i in Model)
			{
				<div class="col-lg-6 col-sm-12 d-flex justify-content-center">
					@if (i.IsAvailable)
					{
						<a class="w-100" asp-controller="Event" asp-action="Index">
							<div class="card text-bg-dark w-100">
								<img width="300" height="300" src="@i.ImageUrl" class="card-img" alt="@i.Name" />
								<div class="card-img-overlay">
									<h5 class="card-title h-100 d-flex justify-content-center align-items-center fs-1 fw-bold text-white">
										@i.Name
									</h5>
								</div>
							</div>
						</a>
					}
					else
					{
						<div class="card text-bg-dark w-100">
							<img width="300" height="300" src="@i.ImageUrl" class="card-img" alt="@i.Name" />
							<div class="card-img-overlay">
								<h5 class="card-title h-100 d-flex justify-content-center align-items-center fs-1 fw-bold text-white">
									@i.Name <span class="text-success">SOON <i class="fa-solid fa-hourglass-start"></i></span>
								</h5>
							</div>
						</div>
					}
				</div>
			}
		</div>
	</div>
</section>


@Html.Partial("_ContactSection", ViewData["Developers"] as List<Developer>)

@section Scripts {
					<script>
						document.addEventListener("DOMContentLoaded", () => {
							const images = document.querySelectorAll(".image");

							images.forEach((img) => {
								img.addEventListener("click", () => {
									// Clear blurry class from all images
									images.forEach((otherImg) => {
										if (otherImg !== img) {
											otherImg.classList.add("blurry");
										} else {
											otherImg.classList.remove("blurry");
										}
									});
								});
							});
						});
					</script>
}

<style>
	.image {
		transition: filter 0.3s ease;
	}

		.image.blurry {
			filter: blur(5px);
		}

	.vh-200 {
		height: 200vh;
	}


</style>