@model List<Event>

<div class="container mt-5">
    <div class="row">
        @foreach (var ev in Model)
        {
            <div class="col-md-4 mb-4 d-flex justify-content-center align-items-center justify-content-sm-start">
                <div class="card h-100 d-flex flex-column" style="width: 18rem;">
                    <img width="200" height="200" src="@ev.ImageUrl" class="card-img-top" alt="@ev.Name" />
                    <div class="card-body d-flex flex-column justify-content-between">

                        <!-- Event Title -->
                        <div class="d-flex justify-content-start">
                            <h5 class="card-title text-success">@ev.Name</h5>
                        </div>

                        <!-- Event Details -->
                        <div class="d-flex flex-column justify-content-center text-left flex-grow-1">
                            <p class="card-text">@ev.Description</p>
                            <p class="card-text"><strong>Price:</strong> @ev.Price SAR</p>
                            <p class="card-text"><strong>Starting Date:</strong> @ev.Date.ToShortDateString()</p>
                        </div>

                        <!-- Action Button -->
                        <div class="d-flex justify-content-center mt-auto">
                            <a asp-action="Details" asp-route-id="@ev.Id" class="btn btn-success mt-2">Show Details</a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
